.entire_signup_container{
    display: flex;
    justify-content: center; /*内部元素水平居中*/
    height: 600px;
}

.signup_container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 540px;
    background-color: white;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: darkgrey 3px 3px 3px 3px ;
    padding: 20px;
}